#map-canvas{

    margin: 15px 0;
    padding: 0;
    height: 400px;
    float: left;
    width: 100%;


}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
#form{
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 20%;
}

header{
    background-color: black;
}
footer{
    background-color: brown;
}